.task_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form_heading {
  margin: 1rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form_heading h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--text-main-color);
  font-weight: 600;
  letter-spacing: 1px;
}
.form_content {
  padding: 1rem;
}
.form_content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.form_content div input {
  width: 80%;
  height: 2.3rem;
  padding: 0.7rem;
  outline: none;
  border: none;
  margin: 0.5rem 0rem;
  background-color: var(--bg-secondary-color);
  color: var(--text-main-color);
}
.form_content div textarea {
  width: 80%;
  resize: none;
  padding: 0.7rem;
  outline: none;
  border: none;
  margin: 0.5rem 0rem;
  background-color: var(--bg-secondary-color);
  color: var(--text-main-color);
}

.add-task-btn {
  width: 35%;
  height: 2.3rem;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
