@import '../../App.css';
.navabar {
  background-color: var(--bg-main-color);
  width: 100%;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid var(--text-secondary-color);
  display: flex;
  justify-content: space-between;
}
.left_nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.left_nav h1 {
  font-size: 2rem;
  color: var(--text-main-color);
  font-weight: 600;
}

.right_nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.right_nav .theme_icon svg {
  font-size: 2rem;
  color: var(--text-main-color);
  cursor: pointer;
}

.right_nav .user_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right_nav .user_info img {
  width: 3rem;
  height: 3rem;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid var(--text-main-color);
}

.right_nav .user_info span {
  font-size: 1.5rem;
  color: var(--text-main-color);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.mobile-menu {
  display: flex;
  padding: 0rem 0.5rem;
}
.mobile-menu button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#mobile-menu-threeDot {
  font-size: 2rem;
  color: var(--text-main-color);
  display: none;
}
#mobile-menu-close {
  font-size: 2rem;
  color: var(--text-main-color);
  display: none;
}

@media only screen and (max-width: 750px) {
  .left_nav h1 {
    font-size: 1.5rem;
  }
  .right_nav .theme_icon svg {
    font-size: 1.7rem;
  }
  .right_nav .user_info img {
    width: 2rem;
    height: 2rem;
  }

  .right_nav .user_info span {
    font-size: 1.1rem;
  }
  #mobile-menu-threeDot {
    display: block;
  }
}
