.sidebar {
  width: 25%;
  height: 87vh;
  background-color: var(--bg-main-color);
  overflow-y: auto;
}
.addTask {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0%;

  padding: 0.5rem 0rem;
}
::-webkit-scrollbar {
  display: none;
}
.addTask_btn {
  margin-top: 1.3rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  outline: none;
  border: none;
  border-radius: 7px;
}
.addTask_btn span {
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 700;
}
.addTask_btn svg {
  font-size: 1rem;
  font-weight: 700;
}
@media only screen and (max-width: 900px) {
  .sidebar {
    width: 33%;
  }
  .addTask_btn {
    width: 100%;
    padding: 0.5rem 0.3rem;
  }
}

@media only screen and (max-width: 750px) {
  .sidebar {
    transform: translateX(-100%);
    position: absolute;
    top: 0%;
    z-index: 10;
    height: 100vh;
    transition: all 0.3s;
    padding: 1rem;
    width: 40%;
    background-color: var(--bg-secondary-color);
  }
  .openSidebar {
    transform: translateX(0%);
  }
}
@media only screen and (max-width: 550px) {
  .sidebar {
    width: 60%;
  }
}
@media only screen and (max-width: 400px) {
  .sidebar {
    width: 70%;
  }
}
