* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.light-theme {
  --bg-main-color: #ffffff;
  --bg-secondary-color: #e8e8e8;
  --text-main-color: #292929;
  --text-secondary-color: #454545;
  --main-color: #6d00b3;
  --table-hover: #ddd;
}
.dark-theme {
  --bg-main-color: #292929;
  --bg-secondary-color: #1e1e1e;
  --text-main-color: #ffffff;
  --text-secondary-color: #ececec;
  --main-color: #6d00b3;
  --table-hover: #1f1f1f;
}
