.tasklist_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0rem;
  border-bottom: 1px solid gray;
  cursor: pointer;
  transition: all 0.3s;
}
.tasklist_box:hover {
  background-color: var(--bg-main-color);
}
.tasklist_title {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: normal;
  color: var(--text-main-color);
  text-transform: capitalize;
  padding: 0.3rem;
}
.tasklist_status {
  margin-top: 0.5rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 0.5rem;
}
.tasklist_status svg {
  font-size: 0.9rem;
  font-weight: 500;
}
.tasklist_status span {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: capitalize;
}

@media only screen and (max-width: 700px) {
  .tasklist_box {
    padding: 0.5rem 0.2rem;
  }
  .tasklist_title {
    font-size: 1rem;
    padding: 0rem;
  }
  .tasklist_status svg {
    font-size: 0.8rem;
  }
  .tasklist_status span {
    font-size: 0.7rem;
  }
}
